<div class="row d-flex justify-content-center text-center">
  <img src="{{ user.image_base64 }}"
       style="width: 10vw; height: 9vw; object-fit: cover"
       class="rounded-circle" alt="">
  <h2 class="cover-heading pt-2">{{ user.name }}</h2>
  <p class="text-secondary cover-heading mb-5">{{at}}{{ user.username }}</p>

  <ng-container *ngIf="seller">
    <div id="follow_{{ user.id }}" class="mb-2" style="margin-top: -30px" *ngIf="!isFollowing">
      <button type="submit" class="btn btn-primary" name="follow" (click)="followUser()"><i class="bi bi-person-add"></i> Follow</button>
    </div>
    <div id="follow_{{ user.id }}" class="mb-2" style="margin-top: -30px" *ngIf="isFollowing">
      <button type="submit" class="btn btn-secondary" name="unfollow" (click)="unfollowUser()"><i class="bi bi-person-dash"></i> UnFollow</button>
    </div>
  </ng-container>

  <p class="lead">Followers <b>{{ followers }}</b> | Following <b>{{ following }}</b></p>
</div>
