{% extends 'layout.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/explore.css' %}">
{% endblock %}

{% block title %}
    Explore
{% endblock %}




{% block content %}
{% load static %}
 <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                  <img src="{% static 'images/teste2.jpg' %}" class="card-img-top" alt="..." style="width: 100%">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}