<h1 class="text-muted">Favorites</h1>
<div class="row row-cols-1 row-cols-md-3 g-4" style="min-height: 400px">
  <ng-container *ngIf="favorites.length > 0">
    <app-product *ngFor="let product of favorite_products" [product]="product" [layout]="1"></app-product>
  </ng-container>
  <ng-container *ngIf="favorites.length === 0">
  <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
    <div class="text-center">
      <h1 class="text-muted">You have no favorites yet</h1>
      <a routerLink="/" class="btn btn-success mt-3">Explore
        <i class="bi bi-arrow-right"></i>
      </a>
    </div>
  </div>
  </ng-container>
</div>


<div class="modal fade" id="CartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Item added</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">The item has been successfully added to your cart!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Continue shopping</button>
        <a routerLink="/cart" class="btn btn-success">Go to cart</a>
      </div>
    </div>
  </div>
</div>


<script>
  function ShowModal() {
    const myModal = new bootstrap.Modal(document.getElementById('CartModal'), {
      keyboard: false
    })
    myModal.show()

  }
</script>


