<h1 class="text-muted">Favorites</h1>
<div class="row row-cols-1 row-cols-md-3 g-4" style="min-height: 400px">
  <ng-container *ngIf="favorites.length > 0">
  <div class="col-md-4 mt-5" *ngFor=" let product of favorite_products">
    <div class="card h-100 border-0 rounded-0 shadow" style="width: 25rem;">
      <img src="/media/{{ product.image }}" class="card-img-top rounded-0" alt="...">
      <div class="card-body d-flex flex-column mt-3 mb-3">
        <div class="row mt-auto">
          <div class="col-10">
            <h4 class="card-title">{{ product.name }}</h4>
            <p class="card-text text-muted" style="display: flex; align-items: center">
              {{ product.description }}
            </p>
          </div>
        </div>
      </div>
      <div class="row align-items-center text-center g-0">
        <div class="col-4">
          <h5>{{ product.price }}€</h5>
        </div>
        <div class="col-4">
          <a href="/product/{{ product.id }}" class="btn btn-info w-100 p-3 rounded-0 text-center">
            <span class="align-middle">View</span>
          </a>
        </div>
        <div class="col-4">
          <a *ngIf="user" class="btn btn-success w-100 p-3 rounded-0 text-center" onclick="ShowModal()">
            <i class="bi bi-cart-plus"></i>
            <span class="align-middle">Buy</span>
          </a>
          <a href="/login" *ngIf="!user" class="btn btn-success w-100 p-3 rounded-0 text-center">
            <i class="bi bi-cart-plus"></i>
            <span class="align-middle">Buy</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  </ng-container>
  <ng-container *ngIf="favorites.length === 0">
  <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
    <div class="text-center">
      <h1 class="text-muted">You have no favorites yet</h1>
      <a href="/" class="btn btn-success mt-3">Explore
        <i class="bi bi-arrow-right"></i>
      </a>
    </div>
  </div>
  </ng-container>
</div>


<div class="modal fade" id="CartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Item added</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">The item has been successfully added to your cart!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Continue shopping</button>
        <a href="/cart" class="btn btn-success">Go to cart</a>
      </div>
    </div>
  </div>
</div>


<script>
  function ShowModal() {
    const myModal = new bootstrap.Modal(document.getElementById('CartModal'), {
      keyboard: false
    })
    myModal.show()

  }
</script>


