<!--This is going to be the index page for the site-->

<!--Following-->
<h1 class="text-muted">For you <i class="bi bi-person-fill"></i></h1>
<div class="row row-cols-1 row-cols-md-3 g-4 mb-5" style="min-height: 400px">
  <ng-container *ngIf="followings.length === 0">
    <div class="col-md-12 d-flex align-items-center justify-content-center bg-light p-4">
      <p style="font-size: 24px; color: rgb(192,193,196);">If you want to start getting recommendations, start following someone.</p>
    </div>
  </ng-container>
  <ng-container *ngIf="followings.length > 0">
    <app-product [product]="product" [layout]="1" *ngFor="let product of followings"></app-product>
  </ng-container>
</div>



<!--Explore-->
<h1 class="text-muted">Explore <i class="bi bi-compass-fill"></i></h1>
<div class="row row-cols-1 row-cols-md-3 g-4" style="min-height: 400px">
  <app-product [product]="product" [layout]="1" *ngFor="let product of explore"></app-product>
</div>
