<div style="  border: 5px;margin: auto; position: static;width: 40%; padding-bottom: 160px; padding-top: 10px; align-content: center" class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="true" href="/register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" tabindex="-1" aria-current="true" href="/login">Log In</a>
      </li>
    </ul>
  </div>
  <div class="card-body">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" formControlName="username" class="form-control">
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
          <div *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</div>
          <div *ngIf="loginForm.get('username')?.errors?.['minlength']">Username must be at least 3 characters long.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
          <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
          <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</div>
        </div>
      </div>
      <!-- Error for invalid credentials -->
      <div *ngIf="invalidCredentials" class="text-danger">
        Invalid credentials.
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>


  </div>
</div>
