<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp">
            <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{ product?.image_base64 }}" />
          </a>
        </div>
        <!-- thumbs-wrap.// -->
        <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{ product?.name }}
          </h4>

          <div class="mb-3">
            <span class="h5">{{ product?.price }}€</span>
          </div>

          <p>
            {{ product?.description }}
          </p>

          <div class="row">
            <dt class="col-3">Brand:</dt>
            <dd class="col-9">{{ product?.brand }}</dd>

            <dt class="col-3">Color</dt>
            <dd class="col-9">{{ product?.color }}</dd>

            <dt class="col-3">Category</dt>
            <dd class="col-9">{{ product?.category }}</dd>
          </div>

          <hr />

          <div class="row mb-4">
            <h5><b>Product Statistics:</b></h5>
            <div class="col-6 mt-3">
              <p><b>Number of views:</b> {{ product?.seen }}</p>
              <p><b>Favorites:</b> {{ favorites }} </p>
            </div>
          </div>
          <a href="/account/product/edit/{{ product?.id }}/" class="btn btn-secondary shadow-0"> <i class="bi bi-pencil"></i> Edit Product </a>
        </div>
      </main>
    </div>
  </div>
</section>
