<div style="  border: 5px;margin: auto; position: static;width: 40%; padding-bottom: 50px; padding-top: 10px; align-content: center" class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" routerLink="/register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" tabindex="-1" aria-current="true" routerLink="/login">Log In</a>
      </li>
    </ul>
  </div>
  <div class="card-body">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" formControlName="username" class="form-control">
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-danger">
          <div *ngIf="registerForm.get('username')?.errors?.['required']">Username is required.</div>
          <div *ngIf="registerForm.get('username')?.errors?.['minlength']">Username must be at least 3 characters long.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" formControlName="name" class="form-control">
        <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger">
          <div *ngIf="registerForm.get('name')?.errors?.['required']">Name is required.</div>
          <div *ngIf="registerForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" formControlName="email" class="form-control">
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
          <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
          <!-- Error for invalid email -->
          <div *ngIf="registerForm.get('email')?.errors?.['email']">Email must be a valid email address.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control">
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
          <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
          <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control">
        <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="text-danger">
          <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</div>
          <div *ngIf="registerForm.get('confirmPassword')?.errors?.['minlength']">Confirm Password must be at least 8 characters long.</div>

        </div>
      </div>
      <!-- Error for invalid credentials -->
      <div *ngIf="invalidCredentials" class="text-danger">
        Invalid credentials.
      </div>
      <!-- Error for password mismatch -->
      <div *ngIf="passwordMismatch" class="text-danger">
        Passwords do not match.
      </div>
      <!-- Username already exists -->
      <div *ngIf="usernameExists" class="text-danger">
        Username already exists.
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>

  </div>
</div>
